<aside class="sidebar">
    <section class="sidebar__header">
        
        <img src="/assets/images/sidebarHedser.jpg" alt="picture__header">

    </section>

        <section class="sidebar__content">
            <div class="prof">
                <img class="prof__avatar"src="/assets/images/avatar__photo.png" alt="avatar__photo">
                    <div class="prof__name">Фурсов Олег</div>
                        <div class="prof__prof">блог front-end разработчика</div>
                            <ul class="social">
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <img src="/assets/images/instagram .svg" alt="instagram Фурсов Олег" target="_blank">
                                    </a>
                                </li>
                                    <li class="social__item">
                                        <a href="#" class="social__link">
                                            <img src="/assets/images/vk .svg" alt="vk Фурсов Олег" target="_blank">
                                        </a>
                                    </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <img src="/assets/images/pinterest .svg" alt="pinterest Фурсов Олег" target="_blank">
                                            </a>
                                        </li>
                                        
                            </ul>

            </div>
        </section>
    <section class="sidebar__footer"></section>
</aside><!--sidebar--->